*{
    background-color: teal;
    color:black;
}

footer{
    margin: 0 30px;
    color: rgba(255 255 255 / 50%);
}

footer.top{
    position: relative;
    display: grid;
    border-bottom: 2px solid rgba(255 255 255 / 20%);
    padding-bottom: 20px;
}

footer.top >img{
    height: 50px;
    margin: 0 auto 50px;
}

footer.top .links{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

footer.top .links-column{
    display: grid;
    gap: 10px;
    text-align: center;
}

footer.top h2{
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255 255 255 / 96%);
}

footer.top p{
    margin: 0;
}

footer.top .socials{
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
}

footer.top .socials>a{
    font-size: 24px;
}

.socials-column:is(h2,p){
    display: none;
}

footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
}

.legal > a{
    margin-right: 4px;
}

/* Media CSS */

@media (width > 400px) {
    .links-column{
        text-align: left;
    }
    footer.top .links{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 50px;
    }

    footer.top .socials{
        left: 0;
        translate: 0;
    }

    footer.top > img{
        margin: 0 0 50px;
    }

    footer.bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        text-align: left;
    }
}

@media (width >= 640px){
    footer{
        margin: 0 auto;
        max-width: 580px;
        padding: 0;
    }

    footer.top .links{
        grid-template-columns: repeat(3,1fr);
    }

    footer.top .socials{
        position: static;
    }

    footer.bottom{
        justify-content: flex-start;
    }

    .socials-column:is(h2,p){
        display: block;
    }
}